/* You CSS goes in here */





#flowercss{
    position: relative;
    top:10%;
    left:2%;
    width:32%;
    cursor: pointer; /* stem outline 2D7600 */
    display: block;
    z-index: 2;

}

#fingerthumbcss{
    position: absolute;
    top:20%;
    left:6%;
    width:7%;
    cursor: pointer; /* stem outline 2D7600 */
    display: block;
    z-index: 4;
}

#fingerindexcss{
    position: absolute;
    top:20%;
    left:7%;
    width:6%;
    cursor: pointer; /* stem outline 2D7600 */
    display: block;
}

#flowersectioncss{
    position: absolute;
    top:55%; /* 52*/
    left:38%; /* 46*/
    width:2%;
    cursor: pointer;
    display: none;
    z-index: 3;
}



#beakercss {
    position: absolute;
    top: 75%;
    left:60%;
    width:11%;
    cursor: pointer;
    z-index: 2;
} 

#petridishcss {
    position: absolute;
    top: 43%;
    left:45%;
    width: 15%;
    cursor: pointer;
    display: block;
    
    
}

#petridishwatercss{
    position: absolute;
    top: 43%; 
    left: 45%; 
    width:15%;
    height:6.2%;
    cursor: pointer;
    display: block;
    opacity: 80%;
    z-index: 3;
    
}

#bladecss {
    position: absolute;
    top: 5%; /* -5 -- 5 */
    left:55%; /* 25 -- 2*/
    width: 12%;
    cursor: pointer;
    display: block;
    z-index: 2;
   /*transform: rotateX(80deg);*/
   
    
}

#glassslidecss {
    position: absolute;
    top: 41%;
    left:65%;
    width: 20%;
    cursor: pointer;
}

#coverslipcss {
    position: absolute;
    top: 25%;  /*25 -- 65 */
    left: 68%; /*63 -- 68 */
    width: 4.8%;
    cursor: pointer;
    opacity: 50%;
    z-index: 5;
}

#brushcss{
    position: absolute;
    top: 0%;  /*0*/
    left:90%; /*90*/
    width:1.4%;
    cursor: pointer;
    transform: rotate(20deg);
    z-index: 3;
}
#droppercss{
    position: absolute;
    top: 67.2%;
    left:75%;
    width:3.5%;
    cursor: pointer;
}

#dropperwatercss{
    position: absolute;
    top: 25%; /* 68*/
    left:68%; /*75 */
    width:3.5%;
    cursor: pointer;
    display: none;
}


#waterdropcss{
    position: absolute;
    top: 43%;  /*45 */
    left:72%; 
    width:4%;
    cursor: pointer;
    display: none;
    z-index: 11;
    opacity: 90%;
}

#safraninbottlecss{
    position: absolute;
    top: 45%; /* 25- 68*/
    left: 92%; /*68- 75 */
    width:7%;
    cursor: pointer;
    display: block;
    z-index: 2;
}

#safranindroppercss{
    position: absolute;
    top: 31%; /* 25- 68*/
    left:93.85%; /*68- 75 */
    width:3%;
    cursor: pointer;
    display: block;
   
    
}

#safranindropcss{
    position: absolute;
    top: 70%;  /*45 */
    left:68%; 
    width:4%;
    cursor: pointer;
    display: none;
    z-index: 11;
    opacity: 85%;
    
}


#mircoscopecss {
    cursor: pointer;
    position: relative;
    top: 5%;
    left:1%;
    width:68%
   
}

#mircoscopeslidecss {
    cursor: pointer;
    position:absolute;
    top:61%;
    left:25.5%;
    width:5%;
    height:3%;
    transform: rotate(90deg);
    display:none;
}

/* column 1 ends */







