/* You CSS goes in here */


.card{
    margin-bottom: 5px;
    }
    
#leafcss {
    cursor: pointer;
    position: relative;
    top: 85%;
    left:7%;
    width:30%;
    z-index: 1;
}


#leafcutcss {
    cursor: pointer;
    position: relative;
    top: 85%;
    left:7%;
    width:30%;
    display: none;
    z-index: 1;
}

#leafcutsectioncss {
    cursor: pointer;
    display: none;
    position: absolute;
    top:18%;
    left:40%;
    width: 12.2%;
    z-index: 1;
    
}

#leafthinsection {
    cursor: pointer;
    position: absolute;
    top: 23.5%;
    left:63.2%;
    width:3.2%;
    display: none;
    z-index: 2;
    transform:rotate(90deg);
}

#leafthinsection1 {
    
    position: absolute;
    top: 17.5%;  /*23 */
    left:80%; /* 80*/
    width:2%;
    height:0.2%;
    display: none;
    z-index: 10;
    cursor: pointer;
   transform: rotate(30deg);
}


#fingerthumbcss{
    position: absolute;
    top:8%;
    left:95%;
    width:6%;
    cursor: pointer; /* stem outline 2D7600 */
    display: none;
    z-index: 3;
}

#fingerindexcss{
    position: absolute;
    top:8%;
    left:95%;
    width:6%;
    cursor: pointer; /* stem outline 2D7600 */
    display: none;
}



#petridishcss {
    position: absolute;
    top: 20%;
    left:75%;
    width: 15%;
    cursor: pointer;
    display: block;
    
    
}




 /*#canvasleafsection{
    position:absolute;
    top:2%;
    left:6%;
    width:38%;
    height:95%;
    background-color: #fdfdfd;
    display: block;
    z-index: 0;
    cursor: pointer;
    
} */

#cuttingsheetcss{
    position:absolute;
    top:2%;
    left:6%;
    width:38%;
    height:95%;
    background-color: #fdfdfd;
    display: block;
    z-index: 0;
    cursor: pointer;
}

/* #canvasleafsection{
    position:absolute;
    top:18.2%;
    left:19%;
    width:12%;
    height:1.5%;
    background-color: #362020bb;
    display: none;
} */

/* column 1*/
/*#bladecutcss {
    cursor: pointer;
    position: absolute;
    top: 65%;
    width: 7%;
} */



#bladecss {
    position: absolute;
    top: 5%;
    left:60%;
    width: 12%;
    cursor: pointer;
    display: block;
    z-index: 2;
}

#bladecsscorkcut{
    position: absolute;
    top: 5%;
    left:60%;
    width: 12%;
    cursor: pointer;
    display: none;
    z-index: 2;
}

#corkcss {
    position: absolute;
    top: 18%;
    left:60%;
    width:4%;
    cursor: pointer;
    
}



#glassslidecss {
    position: absolute;
    top: 45%;
    left:60%;
    width: 20%;
    cursor: pointer;
}

#coverslipcss {
    position: absolute;
    top: 35%;  /*45 */
    left:78%; /*75 */
    width: 4.8%;
    cursor: pointer;
    opacity: 50%;
    z-index: 5;
}

#brushcss{
    position: absolute;
    top: 0%;  /*0 -- -10 --  15  */
    left:95%; /*95 -- 85 --  72 */
    width:1.4%;
    cursor: pointer;
    transform: rotate(20deg);
    z-index: 2;
}

#petridishwatercss{

    position: absolute;
    top: 21.5%;  /*45 */
    left:75%; 
    width:15%;
    height: 4%;
    cursor: pointer;
    display: block;
    z-index: 11;
    opacity: 70%;
}

#beakercss {
    position: absolute;
    top: 75%;
    left:60%;
    width:11%;
    cursor: pointer;
    z-index: 2;
}

#droppercss{
    position: absolute;
    top: 67.2%;
    left:75%;
    width:3.5%;
    cursor: pointer;
}

#dropperwatercss{
    position: absolute;
    top: 25%; /* 68*/
    left:68%; /*75 */
    width:3.5%;
    cursor: pointer;
    display: none;
}

#watercss{
    position: absolute;
    top: 46.3%;  /*45 */
    left:68%; 
    width:4%;
    cursor: pointer;
    display: none;
    z-index: 11;
    opacity: 70%;
}

#dropcss{
    position: absolute;
    top: 45%;  /*45 -- 48*/
    left:69.3%; 
    width:0.8%;
    cursor: pointer;
    display: none;
}
/* column 1 ends */

/* column 2 starts */


#mircoscopecss {
    cursor: pointer;
    position: relative;
    top: 5%;
    left:1%;
    width:40%
   
}
#labpersoncss {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left:50%;
    width:50%
   
}

#mircoscopeslidecss {
    cursor: pointer;
    position:absolute;
    top:61%;
    left:16%;
    width:3.5%;
    height:3%;
    transform: rotate(90deg);
    display:none;
}

/* column 2 ends */







